@{
    ViewData["Title"] = "Delete Attendance";
}
@model EmployeeDepartmentCRUDApp.Models.Attendance
<h2 class="alert-info text-center text-danger">Delete Attendance</h2>

<div>
    <h4>Are you sure you want to delete these attendance?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Employee Name</dt>
        <dd class="col-sm-10">@Model.Employee?.EmployeeName</dd>

        <dt class="col-sm-2">Date</dt>
        <dd class="col-sm-10">@Model.Date.ToString("dd/MM/yyyy")</dd>

        <dt class="col-sm-2">Check In Time</dt>
        <dd class="col-sm-10">@Model.CheckInTime</dd>

        <dt class="col-sm-2">Check Out Time</dt>
        <dd class="col-sm-10">@Model.CheckOutTime</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Leave" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>